{% extends "OOPDFapp/base_generic_study.html" %}
{% load static %}
{% block styles %}
	
	<link rel='stylesheet' href="{% static 'OOPDFapp/stylestudy.css' %}">
{% endblock styles %}

{% block content %}
<ul style="display:none">
{% for flashcard in flashcards %}
	<li>{{flashcard.term}} : {{flashcard.definition}}</li>
{% endfor %}	
</ul>

<div class='welcome'>
<h1>You are studying</h1>

<div class="sidebar-nav">
		<ul>
		   <li><a id='gotogame'href="{% url 'OOPDFapp:game' %}">Game</a></li>	
		  		</ul>
</div>

	<div class='vintage'>
		<button id="previous-card-btn">Previous</button> 
		<button id ="flip-card-btn">Flip</button> 
		<button id="next-card-btn">Next</button>
	</div>
</div>

<div class="blackboard">
	<div id="flashcard-container"></div>
</div>



{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'OOPDFapp/js/script.js' %}"></script>
{% endblock scripts %}